.message {
  font-size: 22px;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  padding: 1px;
}

.contact {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  padding-top: 10px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 10px 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.navHotline {
  display: flex;
}
.phoneIcon {
  margin-top: 4px;
  margin-right: 4px;
  padding: 1px;
}
.textHotline{
  margin-left: 2px;
  margin-right: 6px;
}


@media (max-width: 640px) {
  .message {
    font-size: 12px;
    padding: 10px;
  }

  .contact {
    display: flex;
    justify-content: center;
    margin-left: 20px;
  }

  .social {
    display: none;
  }

  .infoMenu {
    height: 40px;
  }

  .headerNav {
    height: 300px
  }

  .logo {
    padding: 10px 0 0 20px;
  }

  .search {
    width: 400px;
  }

  .auth {
    height: 20px;
  }

  .navMenu {
    display: none;
  }

}